* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
    overflow-x: hidden;
}

@font-face {
    font-family: "myFirstFont";
    src: url("./media/VCR_OSD_MONO_1.ttf");
}

@font-face {
    font-family: "courierSTD";
    src: url("./media/Courier\ Std\ Medium.otf");
}


/* intro / video on scroll */

.intro {
    height: 100vh;
}

.intro video {
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: -2;
}

.intro h1 {
    position: absolute;
    top: 60%;
    left: 26%;
    padding-left: 5vw;
    font-family: "SERIF";
    line-height: .88;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #f4f4f2;
    margin: 2rem 0;
}

.intro img {
    position: absolute;
    top: 85%;
    left: 3.5%;
    overflow: hidden;
    max-width: 85%;
    height: auto;
}

.intro p {
    position: absolute;
    top: 73.5%;
    left: 3.7%;
    font-family: "myFirstFont";
    padding-top: 3em;
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    color: #f4f4f2;
}

.logo {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 65px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    max-width: 50px;
}


/* scroll insentive */

#bm {
    position: absolute;
    width: 120px;
    z-index: 1;
    left: 46vw;
    top: 15%;
}


/* Comparison Swipe */

.comparisonSection {
    position: relative;
    min-width: 100vw;
}

.comparisonImage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.afterImage-2,
.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.afterImage-2 img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

section {
    height: 100vh;
}

footer {
    position: relative;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    color: var(--clr-acc);
    padding: 20px 0;
    font: 12px/24px VCR_OSD_MONO_1;
    background-color: black;
}

footer p {
    margin-top: 15px;
}

footer span {
    display: block;
    font-size: 12px;
    margin: 0 20px 5px 20px;
    font: VCR_OSD_MONO_1;
    color: #f4f4f2;
}

footer a {
    display: inline-block;
    margin: 0 20px;
    transition: color 1s cubic-bezier(.25, 1, .25, 1);
    text-decoration: none;
    color: #868686;
    font-family: "courierSTD";
}

footer a:hover {
    color: lightgrey;
}


/* parallax-animation */

.parallax-container {
    height: 100vh;
}

.parallax-container img {
    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
}


/* .content {
    width: 100%;
    background: rgb(255, 255, 255);
    min-height: 100vh;
    z-index: 2;
    position: absolute;
}

.content-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
    text-align: center;
} */


/* media queries */

@media (max-width: 1600px) {
    .intro h1 {
        position: absolute;
        top: 65vh;
        left: 29vw;
        width: 100%;
        padding-left: 24vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 110px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
}

@media (max-width: 1580px) {
    .intro {
        position: relative;
        min-width: 100vw;
    }
    .video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .video-container video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .intro h1 {
        position: absolute;
        top: 70%;
        left: 30vw;
        width: 100%;
        padding-left: 24vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 110px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
    .intro img {
        position: absolute;
        top: 90%;
        left: 60px;
        overflow: hidden;
        max-width: 70%;
        height: auto;
    }
    .intro p {
        position: absolute;
        top: 80%;
        left: 62px;
        line-height: 15px;
        font-family: "myFirstFont";
        margin-block-start: 1em;
        margin-inline-start: 0px;
        color: #f4f4f2;
    }
    .logo {
        position: absolute;
        z-index: 1;
        top: 6%;
        left: 3%;
    }
    .logo img {
        max-width: 50px;
    }
    #bm {
        position: absolute;
        width: 120px;
        z-index: 1;
        left: 85%;
        top: 73%;
    }
}

@media (max-width: 1135px) {
    .intro h1 {
        position: absolute;
        top: 65%;
        padding-left: 9vw;
        left: 47vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 90px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
}

@media (max-width: 1024px) {
    .intro h1 {
        position: absolute;
        top: 65%;
        padding-left: 9vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 90px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
    .intro img {
        position: absolute;
        top: 91%;
        left: 43px;
        overflow: hidden;
        max-width: 65%;
        height: auto;
    }
    .intro p {
        position: absolute;
        top: 81%;
        left: 45px;
        line-height: 15px;
        font-family: "myFirstFont";
        margin-block-start: 1em;
        margin-inline-start: 0px;
        color: #f4f4f2;
    }
    .logo {
        position: absolute;
        z-index: 1;
        top: 5%;
        left: 3%;
    }
    .logo img {
        max-width: 50px;
    }
    #bm {
        position: absolute;
        width: 100px;
        z-index: 1;
        left: 82%;
        top: 80%;
    }
}

@media (max-width: 960px) {
    .intro h1 {
        position: absolute;
        top: 58%;
        padding-left: 6vw;
        left: 47vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 73px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
    .intro img {
        position: absolute;
        top: 87%;
        left: 3.5vw;
        overflow: hidden;
        max-width: 70%;
        height: auto;
    }
    .intro p {
        position: absolute;
        top: 72%;
        padding-top: 5vh;
        left: 31px;
        line-height: 15px;
        font-size: 13px;
        font-family: "myFirstFont";
        margin-block-start: 1em;
        margin-inline-start: 0px;
        color: #f4f4f2;
    }
    .logo {
        position: absolute;
        z-index: 1;
        top: 3.1%;
        left: 3.1%;
    }
    .logo img {
        max-width: 55px;
    }
    #bm {
        position: absolute;
        width: 100px;
        z-index: 1;
        left: 82%;
        top: 80%;
    }
}

@media (max-width: 620px) {
    .intro h1 {
        position: absolute;
        top: 58%;
        padding-left: 6vw;
        left: 50.5vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
    .intro img {
        position: absolute;
        top: 82%;
        left: 7vw;
        overflow: hidden;
        max-width: 85%;
        height: auto;
    }
    .intro p {
        position: absolute;
        top: 71%;
        padding-top: 5vh;
        left: 7vw;
        line-height: 15px;
        font-size: 15px;
        font-family: "myFirstFont";
        margin-block-start: 1em;
        margin-inline-start: 0px;
        color: #f4f4f2;
    }
    .logo {
        position: absolute;
        z-index: 1;
        top: 5%;
        left: 6.2%;
    }
    .logo img {
        max-width: 65px;
    }
    #bm {
        position: absolute;
        width: 85px;
        z-index: 1;
        left: 42vw;
        top: 87.6%;
    }
}

@media (max-width: 480px) {
    .intro h1 {
        position: absolute;
        top: 68%;
        padding-left: 6vw;
        font-family: "SERIF";
        line-height: .88;
        transform: translate(-50%, -50%);
        font-size: 68px;
        color: #f4f4f2;
        margin: 2rem 0;
    }
    .intro img {
        position: absolute;
        top: 94%;
        left: 6vw;
        overflow: hidden;
        max-width: 89.5%;
        height: auto;
    }
    .intro p {
        position: absolute;
        top: 82%;
        padding-top: 5vh;
        left: 6vw;
        line-height: 15px;
        font-size: 14px;
        font-family: "myFirstFont";
        margin-block-start: 1em;
        margin-inline-start: 0px;
        color: #f4f4f2;
    }
    .logo {
        position: absolute;
        z-index: 1;
        top: 3%;
        left: 6.2%;
    }
    .logo img {
        max-width: 65px;
    }
    #bm {
        position: absolute;
        width: 85px;
        z-index: 1;
        left: 39vw;
        top: 46vh;
    }
}